.profileInfo {
    padding-left: 70px;
    padding-right: 70px;
    margin-left: 195px;
    width: 1140px;
    height: 1250px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.5);
}

.purpleOnTheTop {
    margin-left: -70px;
    margin-right: -70px;
    background-color: rgba(122, 7, 229, 1);
    height: 120px;
    border-radius: 10px 10px 0px 0px;
}

.forImageOfProfile {
    margin-left: 30px;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    border: 6px solid white;
    position: relative;
    top: -100px;
}

.imageOfProfile {
    margin-left: -1px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.camera {
    cursor: pointer;
    position: relative;
    left: 115px;
    top: -60px;
}

.noteImg {
    top: -160px;
    left: 100%;
    position: relative;
}

.globalInfo {
    margin-top: -130px;
}

.infoOfUserCard {
    width: 1000px;
    height: 300px;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#infoOfUserCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
    height: 85%;
    gap: 50px;
    
}

.justDescr {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 25px;
    width: 1000px;
    height: 305px;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;

}

.PersonalInfo {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.whatInfo {
    display: flex;
    text-wrap: wrap;
    flex-direction: column;
}

.thatInfo {
    color: rgba(122, 7, 229, 1);
    font-weight: 600;
    font-size: 20px;
}

.LinkInfo {
    width: 225px;
    text-wrap: wrap;
    color: rgba(122, 7, 229, 1);
    font-weight: 600;
    font-size: 20px;
}

.withoutColor {
    text-wrap: nowrap;
    font-weight: 600;
    font-size: 20px;
}

.decript {
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.top {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.wrapForProfile {
    display: flex;
    flex-direction: row;
}

.premium {
    margin-left: 30px;
    width: 360px;
    height: 880px;
    border-radius: 10px;
    background-color: rgba(122, 7, 229, 0.2);
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding: 17.5px 20px 17px 20px;
    align-items: center;
    justify-content: space-between;
}

.star {
    width: 20px;
    height: 26px;
}

.forFree {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: black;
}

.acces {
    font-weight: 500;
    font-size: 16px;
    color: black;
}

.propos {
    font-weight: 500;
    font-size: 20px;
    color: black;
}

.propos::before {
    content: '•';
}

.textInPropos {
    font-weight: 300;
    font-size: 16px;
    text-wrap: wrap;
}

.paymentDeatils {
    font-weight: 700;
    font-size: 24px;
    color: black;
}

.cardNum {
    font-weight: 500;
    font-size: 16px;
    color: black;
}

.cardNumberInput {
    width: 320px;
    height: 48px;
    border: 1px solid rgba(122, 7, 229, 1);
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;

}

.cardNumberInput::placeholder {
    padding-left:  15px;
}

.payment {
    margin-left: 30px;
    margin-top: 100px;
    padding-left: 20px;
    width: 360px;
    height: 270px;
    border-radius: 10px;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.5);
}

.howToPay {
    cursor: pointer;
}