/* * {
    border: 1px solid red;
} */

.wrapperForPost {
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
    width: 1010px;
    height: 800px;
    margin-left: 455px;
    margin-top: 55px;
    /* padding-left: 130px; */
    padding-top: 26px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
}

.forTextAboutUser {
    margin-top: 15px;
}

.aboutUser {
    width: 76%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topic {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-weight: 500;
    color: black;
}

.info {
    font-size: 15px;
    font-weight: 400;
}

.linkToHAHA {
    color: rgba(122, 7, 229, 1);
}

.desription {
    font-weight: 400;
    font-size: 16px;
    color: rgba(45, 52, 54, 1);
}

.forDescription {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 76%;
}

.forSocialButtons {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    width: 76%;
    margin-top: 30px;
}

.socialButton {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textOnSocialButt,.textOnSocialButtAnother {
    transition: all 1s ease-in-out;
    font-size: 24px;
    font-weight: 300;
    color: black;
    margin-left: 10px;
}

.textOnSocialButt:hover {
    text-decoration: underline;
}

.imageOfSocialButtons {
    width: 25px;
    height: 25px;
}